/*****************************************************************************
*     Copyright (C) 2015-2016 by Vaughn Iverson
*     emptyMeteorProj is free software released under the MIT/X11 license.
*     See included LICENSE file for details.
*****************************************************************************/

body
   background url('pattern_130.gif')
